.home-content{
    background-color:white ;
    padding-top: 117px ;
    padding-left: 120px;
}

.text-title{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.text-subtitle{
font-family: Red Hat Display;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 36px;
color: #5A6774;
margin-top: 24px;
}

.email-subtitle{
    color: #1890FF;
}


.button-home-page{
    margin-top: 56px;
}